{% extends 'main_page/main_material_design_template.html' %}

{% block content %}

    <script>
        document.getElementById("tab_lista_filmow").classList.add("is-active");
    </script>

    {% for movie in movies %}
        <section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
            <div class="mdl-card mdl-cell mdl-cell--12-col">
                  <div class="mdl-card__supporting-text">
                    <h4>{{ movie.org_title }}{% if movie.title %} ({{ movie.title }}){% endif %}</h4>
                    {% if movie.description %} {{ movie.description }} {% else %}Ten film nie posiada jeszcze opisu.{% endif %}
                  </div>
                  <div class="mdl-card__actions">
                    <a href="{% url 'main_page:view_movie' movie.id %}" class="mdl-button">Wyświetl informacje o filmie</a>
                  </div>
            </div>
            <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon" id="btn{{ movie.id }}">
              <i class="material-icons">more_vert</i>
            </button>
            <ul class="mdl-menu mdl-js-menu mdl-menu--bottom-right" for="btn{{ movie.id }}">
              <a href="{% url 'main_page:view_movie' movie.id %}" class="mdl-menu__item"><li>Wyświetl</li></a>
              <a href="{% url 'main_page:edit_movie' movie.id %}" class="mdl-menu__item"><li>Edytuj</li></a>
              <a href="{% url 'main_page:remove_movie' movie.id %}" class="mdl-menu__item"><li>Usuń</li></a>
            </ul>
        </section>
    {% endfor %}

{% endblock %}
