<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dodawanie filmu</title>

        Tytuł oryginalny:</br>
        <input type="text" name="org_title"></br>

        Tytuł przetłumaczony:</br>
        <input type="text" name="title"></br>

        Reżyseria:</br>
        <input type="text" name="director"></br>

        Scenariusz:</br>
        <input type="text" name="writer"></br>

        Gatunek:</br>
        <input type="text" name="genres"></br>

        Produkcja:</br>
        <input type="text" name="producer"></br>

        Rok produkcji:</br>
        <input type="text" name="release_year"></br>

        Ocena na filmweb:</br>
        <input type="text" name="filmweb_rate"></br>

        Opis:</br>
        <textarea type="text" rows="5" cols="50" name="description"></textarea></br>
        </br>


</head>
<body>

</body>
</html>
